<!-- ABOUT PAGE : begin -->
<div class="about-page">
    <!-- PAGE TITLE : begin -->
    <div id="page-title">
        <div class="container">
            <div class="page-title-inner">
                <h1>Goodbye<span>Thanks for the Memories</span></h1>
            </div>
        </div>
    </div>
    <!-- PAGE TITLE : end -->
    <!-- PAGE CORE : begin -->
    <div id="page-core"  style="background-color: #1c1f25">
        <div class="container">
            <!-- ABOUT INTRO : begin -->
            <section class="about-intro">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 various-content">
                        <p class="lead">Thank You / Goodbye</p>
                        <p>To all the users of plug&#179; We regret to inform you of this terrible news, but plug.dj has shut down September 28th  2015 at 3 PDT due to funding issues. Thank you to everyone that has used plug&#179; and plug.dj since this project started back in 2012. We, the plug&#179; team, will not work any further on this project unless there is a demand for it on alternate websites. For any further questions related to plug&#179; or if you would like your real name to be listed below or for questions about this project's future please email TheDark1337 at 1337alexpham@gmail dot com
                        <br>
                        <br>
                        <blockquote>
                            <p>It broke my heart to hear the news of plug's demise, however this is not the end. The friendships you made, the sense of community you found, the memories you created, these are much bigger than any of us ever dreamed when we first clicked the "Join Now" button.
                            <br>
                            Through the good times and the bad, we stood by your side through it all. We'll always remember what you meant to us.
                            <br>
                            Rest in peace, plug. You'll be in our hearts forever.</p>
                            <footer>
                                Colgate <cite>Co Founder of plug&#179;</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p>With plug.dj coming to an end, so does plug&#179;. It has been a fun experience to make an extension that so many people could enjoy. There has been a good amount of people on the team standing behind the extension, whether it be coding, helping, translating, or various other tasks, and I can personally say that I have been proud of each and every one of them. Even when I was absent from the project, others took over and continued the work. Even with plug.dj shutting down, don't forget the friendships you made from your time on the platform. Keep listening ;)</p>
                            <footer>
                                TAT <cite>Co Founder of plug&#179;</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p>To the wonderful community that I have been a part of for 3 years. Thank you for everything. I've made a lot of friends that I shall never forget. I met my current gf on plug and got into a career path that was influenced heavily by plug. The memories i've made shall never be forgotten but it sucks plug has to end this way. I wish people would understand plug is not just some random chat site. It created a lot of connections, a lot of memories, a lot of unique communities and experiences. I recently started maintaining p3 (plugCubed / plug³ / p³, however you prefer to call it.), just for a few months later to be hit with this news. I hope to see you all again soon someday. I'll always be on Skype / Slack. I'm probably not gonna be on any alternate sites made by others. Thank you to all the friends I've made and thank you for the wonderful community</p>
                            <footer>
                                Thedark1337 <cite>Maintainer of plug&#179;</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p>Thank you for all your contributions towards the plug&#179; project and all of plug.dj. It was a pleasure working with all of you.</p>
                            <footer>
                                XBytez <cite>plug&#179; Ambassador</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p>It's been such an amazing ride, from joining Plug.dj -- meeting all of you crazy people and being asked to join the plug&#179; Team. What can I say, other then it was one of the most memorable experienced of my life -- I love getting up and checking on Plug and the many communities I got to staff, taking complaints and compliments about plug&#179; and working with the community to make plug&#179; a better extension for everyone. Couldn't of done it without the amazing team behind P3 and the amazing community on Plug. I'm going to miss you guys!</p>
                            <footer>
                                Exuviax <cite>plug&#179; Ambassador</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p> I was with plug&#179; since I joined plug.dj in spring 2013. I watched as it grew to be the most popular plug.dj extension. First as plug&#179; VIP and later as Ambassador. It was a pleasure for me to help get this project big and also to work with the awesome team we got. Bye plug.dj, bye plug&#179;, you'll be in my heart forever.</p>
                            <footer>
                                Incoknito <cite>plug&#179; Ambassador</cite>
                            </footer>
                        </blockquote>
                        <blockquote>
                            <p>I just want to say thanks to the great people of plug&#179;, and Plug.dj for memories we have made over the years. It is something that will not be forgotten. I will miss you all. Ill still be around slack, and Skype but as for a new site nothing can be what plug was for me.</p>
                            <footer>
                                 Sidewinder <cite>plug&#179; User </cite>
                            </footer>
                        </blockquote>
                        <div class="row">
                        <div class="col-xs-12">
                        <h4 class="text-center">plug.dj Avatars | plug.dj&copy;</h4>
                        <img src="/img/space02.gif" alt="Old pink android avatar" style="vertical-align: bottom; border: 0;" />
                        <img src="/img/su01.gif" alt="Old admin avatar" style="vertical-align: bottom; border: 0;">
                         <img src="/img/su02.gif" alt="Old admin avatar" style="vertical-align: bottom; border: 0;">
                         <img src="/img/classic07.gif" alt="New pink android avatar" style="vertical-align: bottom; border: 0;"/>
                         <img src="/img/admin07.gif" alt="New admin avatar" style="vertical-align: bottom; border: 0;">
                         <img src="/img/ba01.gif" alt="New BA avatar" style="vertical-align: bottom; border: 0;">
                        </div>
                        </div>
                         <hr>
                         <h2 class="text-center">Usage Stats</h2>
                         <br>
                         <img src="/img/chromeUsage.png" alt="Chrome Usage" class="img-responsive">
                         <br>
                         <br>
                         <img src="/img/firefoxUsage.png" alt="Firefox Usage" class="img-responsive">
                         <br>
                         <br>
                         <img src="/img/operaUsage.png" alt="Opera Usage" class="img-responsive">
                         <br>
                         <br>
                         <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/1G2G6M6GfXzNDizZmBpl0BjP8J5dOUjhnV-6_RdG3E0Y/pubhtml?widget=true&amp;headers=false"></iframe>
                          </div>
                          <br>
                          <hr>
                          The following lists are non-inclusive and may be missing people, but please thank those people as well.
                         <br>
                         If you see the following people and the translators listed in the CrowdIn projects <a href="https://crowdin.com/project/plugcubed-website">Plug&#179; Website</a> & <a href="https://crowdin.com/project/plug3">Plug&#179;</a> anywhere, please thank them for supporting and contributing to plug&#179;</p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                            <caption class="text-center">Developers (Past & Present) of plug&#179;</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Nickname / Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="https://github.com/jtbrinkmann" target="_blank">Brinkie Pie</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/colgate" target="_blank">Colgate</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/hunchmun" target="_blank">Henchman</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/goto-bus-stop" target="_blank">ReAnna</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/tatdk" target="_blank">TAT</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/thedark1337" target="_blank">TheDark1337 (Alex Pham)</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://github.com/Zegura" target="_blank">Unnoen</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-hover">
                            <caption class="text-center">plug&#179; Ambassadors</caption>
                            <thead>
                                <tr>
                                    <th>Nickname / Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dark Empress (Danielle Rose)</td>
                                </tr>
                                <tr>
                                    <td>YourturnGaming</td>
                                </tr>
                                <tr>
                                    <td>Dark Seabass</td>
                                </tr>
                                <tr>
                                    <td>Exuviax</td>
                                </tr>
                                <tr>
                                    <td>Incoknito</td>
                                </tr>
                                <tr>
                                    <td>xBytez</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                            <caption class="text-center">Bronze Donators</caption>
                                <thead>
                                    <tr>
                                        <th>Nickname / Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-Tort</td>
                                    </tr>
                                    <tr>
                                        <td>AceColonel</td>
                                    </tr>
                                    <tr>
                                        <td>Afternoon Delight</td>
                                    </tr>
                                    <tr>
                                        <td>Al3366</td>
                                    </tr>
                                    <tr>
                                        <td>Angelynk | #SaveThePlug</td>
                                    </tr>
                                    <tr>
                                        <td>Biroman</td>
                                    </tr>
                                    <tr>
                                        <td>bratz</td>
                                    </tr>
                                    <tr>
                                        <td>Cameron</td>
                                    </tr>
                                    <tr>
                                        <td>cardboardlights</td>
                                    </tr>
                                    <tr>
                                        <td>dayumgurll 😎</td>
                                    </tr>
                                    <tr>
                                    <td>DREKEN</td>
                                    </tr>
                                    <tr>
                                        <td>Eastwoot</td>
                                    </tr>
                                    <tr>
                                        <td>Epictek</td>
                                    </tr>
                                    <tr>
                                        <td>Fidolf</td>
                                    </tr>
                                    <tr>
                                        <td>Filly</td>
                                    </tr>
                                    <tr>
                                        <td>genius_waitress</td>
                                    </tr>
                                    <tr>
                                        <td>Higgy</td>
                                    </tr>
                                    <tr>
                                        <td>Infio</td>
                                    </tr>
                                    <tr>
                                        <td>Karpfedora</td>
                                    </tr>
                                    <tr>
                                        <td>Mahx</td>
                                    </tr>
                                    <tr>
                                        <td>McLovinnnn</td>
                                    </tr>
                                    <tr>
                                        <td>Midokite</td>
                                    </tr>
                                    <tr>
                                        <td>Morten</td>
                                    </tr>
                                    <tr>
                                        <td>Notturno</td>
                                    </tr>
                                    <tr>
                                        <td>oOAmitluOo</td>
                                    </tr>
                                    <tr>
                                        <td>Quoona</td>
                                    </tr>
                                    <tr>
                                        <td>RevanAce</td>
                                    </tr>
                                    <tr>
                                        <td>Roms Kidd</td>
                                    </tr>
                                    <tr>
                                        <td>Royal</td>
                                    </tr>
                                    <tr>
                                        <td>SDS</td>
                                    </tr>
                                    <tr>
                                        <td>Slezhey</td>
                                    </tr>
                                    <tr>
                                        <td>TheDark1337</td>
                                    </tr>
                                    <tr>
                                        <td>TrackDownPromotion</td>
                                    </tr>
                                    <tr>
                                        <td>YourturnGaming</td>
                                    </tr>
                                    <tr>
                                        <td>Zisper|1HourUNITY</td>
                                    </tr>
                                    <tr>
                                        <td>ᴏᴀᴛs</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-hover">
                            <caption class="text-center">Silver Donators</caption>
                            <thead>
                                <tr>
                                    <th>Nickname / Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Debs Stylus</td>
                                </tr>
                                <tr>
                                    <td>Incoknito</td>
                                </tr>
                                <tr>
                                    <td>נмz10</td>
                                </tr>
                                <tr>
                                    <td>Mister Pulsewave</td>
                                </tr>
                                <tr>
                                    <td>SDBᴢᴏʀғғɪᴄɪᴀʟ</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                <div class="table-responsive">
                <table class="table table-hover">
                    <caption class="text-center">Gold Donators</caption>
                    <thead>
                        <tr>
                            <th>Nickname / Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AᴄɪᴅDʀᴏᴘS</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="table-responsive">
                <table class="table table-hover">
                    <caption class="text-center">Platinum Donators</caption>
                    <thead>
                        <tr>
                            <th>Nickname / Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bodyart</td>
                        </tr>
                        <tr>
                            <td>Himsemo</td>
                        </tr>
                        <tr>
                            <td>Yenn</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </section>
            <!-- ABOUT INTRO : end -->
