
        <!-- ABOUT PAGE : begin -->
        <div class="about-page">

            <!-- PAGE TITLE : begin -->
            <div id="page-title">
                <div class="container">
                    <div class="page-title-inner">
                        <h1><%- i18n.__('license.welcome') %><span><%- i18n.__('license.slogan') %></span></h1>
                    </div>
                </div>
            </div>
            <!-- PAGE TITLE : end -->

            <!-- PAGE CORE : begin -->
            <div id="page-core">
                <div class="container">

                    <!-- ABOUT INTRO : begin -->
                    <section class="about-intro">
                        <div class="row">
                            <div class="col-xs-12 various-content">
                                <p class="lead"><%- i18n.__('license.agreement') %></p>

                                <p>
                                Copyright © 2012-<%= moment().format('YYYY')%>The plug&#179; Team and other contributors
                                </p>
                                <p>
                                This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
                                <p>
                                This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
                                </p>
                                <p>
                                You should have received a copy of the GNU General Public License along with this program. If not, see <a href="http://www.gnu.org/licenses/" target="_blank">http://www.gnu.org/licenses/</a>.</p>
                            </div>
                        </div>
                    </section>
                    <!-- ABOUT INTRO : end -->
